Repository samuelsilvadev/memory-challenge: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, yarn lint

.lintstagedrc:

{
	"src/**/*.{js,css}": ["yarn format"],
	"src/**/*.js": ["yarn lint"],
}

chore: Configure absolute imports
  jsconfig.json
Due: none

feat: Set font family and size on root css
  public/index.html
  src/index.css
Due: yarn format

chore: Add support to custom media queries
  craco.config.js
  package.json
  src/App.module.css
  src/styles/custom-media.css
  yarn.lock
Due: yarn format

feat: Add Home component
  package.json
  src/App.js
  src/configs/routes.js
  src/index.css
  src/pages/home/Home.js
  src/pages/home/Home.module.css
  src/pages/home/__tests__/Home.test.js
  src/pages/home/index.js
  yarn.lock
Due: yarn format, yarn lint

feat: Add utility functions to prepare array of cards
  src/pages/game/utils/__tests__/duplicateEachFigure.test.js
  src/pages/game/utils/__tests__/generateRandomNumber.test.js
  src/pages/game/utils/__tests__/shuffle.test.js
  src/pages/game/utils/duplicateEachFigure.js
  src/pages/game/utils/generateRandomNumber.js
  src/pages/game/utils/shuffle.js
Due: yarn format, yarn lint

feat: Add draft game page with MemoryList and MemoryCard components
  package.json
  src/App.js
  src/components/memory-card/MemoryCard.js
  src/components/memory-card/MemoryCard.module.css
  src/components/memory-list/MemoryList.js
  src/components/memory-list/MemoryList.module.css
  src/components/memory-list/__tests__/MemoryList.test.js
  src/components/memory-list/__tests__/__snapshots__/MemoryList.test.js.snap
  src/configs/routes.js
  src/pages/game/Game.js
  src/pages/game/Game.module.css
  src/pages/game/index.js
  src/pages/home/Home.js
  yarn.lock
Due: yarn format, yarn lint

feat: Update MemoryList styles to support mobile and landscape devices
  src/components/memory-list/MemoryList.module.css
  src/styles/custom-media.css
Due: yarn format

chore: Add user reducer
  src/state/user/__tests__/reducer.test.js
  src/state/user/reducer.js
Due: yarn format, yarn lint

chore: Add user actions
  src/state/user/__tests__/actions.test.js
  src/state/user/actions.js
Due: yarn format, yarn lint

chore: Add active user reducer
  src/state/active-user/__tests__/reducer.test.js
  src/state/active-user/reducer.js
Due: yarn format, yarn lint

chore: Build blocks to redux flow
  package.json
  src/state/active-user/selectors.js
  src/state/active-user/useActiveUser.js
  src/state/buildRootReducer.js
  src/state/buildStore.js
  src/state/user/useUser.js
  yarn.lock
Due: yarn format, yarn lint

feat: Count moves ans wins on redux store
  src/App.js
  src/components/memory-list/MemoryList.js
  src/components/memory-list/__tests__/MemoryList.test.js
  src/configs/routes.js
  src/pages/game/Game.js
Due: yarn format, yarn lint

feat: Add end game route
  src/App.js
  src/index.css
  src/pages/end/End.js
  src/pages/end/End.module.css
  src/pages/end/index.js
  src/state/user/selectors.js
  src/state/user/useUser.js
Due: yarn format, yarn lint

feat: Add reset active user when user creates a new game
  src/pages/end/End.js
  src/pages/end/__tests__/End.test.js
  src/pages/end/__tests__/__snapshots__/End.test.js.snap
  src/state/active-user/__tests__/actions.test.js
  src/state/active-user/__tests__/reducer.test.js
  src/state/active-user/actions.js
  src/state/active-user/reducer.js
  src/state/active-user/useActiveUser.js
Due: yarn format, yarn lint

chore: Add README.md file
  README.md
  public/gamepad.png
Due: none

chore: Add LICENSE file
  LICENSE
  package.json
Due: none

0.2.0
  package.json
Due: none
